flows_raspberrypi.json
[{"id":"1c4dc499.edc8fb","type":"tab","label":"pool_rx","disabled":false,"info":""},{"id":"6c9aa7ae.de92b8","type":"git-nodes-config","z":"","name":"node-red-pool","git":"git@github.com:billguy/node-red-pool.git"},{"id":"7e3d60fd.8a49d","type":"http in","z":"1c4dc499.edc8fb","name":"","url":"/pool","method":"post","upload":false,"swaggerDoc":"","x":90,"y":380,"wires":[["9cfa0e73.f1fe1"]]},{"id":"29c05c96.ea1504","type":"http response","z":"1c4dc499.edc8fb","name":"","statusCode":"200","headers":{"content-type":"application/json"},"x":920,"y":380,"wires":[]},{"id":"fa38551a.108f58","type":"change","z":"1c4dc499.edc8fb","name":"","rules":[{"t":"set","p":"temp","pt":"flow","to":"$round(msg.payload.temp, 1)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":380,"wires":[["29c05c96.ea1504"]]},{"id":"b42eb39f.558d9","type":"debug","z":"1c4dc499.edc8fb","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":270,"y":460,"wires":[]},{"id":"766df8d4.b6e278","type":"json","z":"1c4dc499.edc8fb","name":"","property":"payload","action":"obj","pretty":true,"x":550,"y":380,"wires":[["fa38551a.108f58"]]},{"id":"f8311a8e.d1f588","type":"rpi-gpio in","z":"1c4dc499.edc8fb","name":"motion detected","pin":"37","intype":"tri","debounce":"25","read":true,"x":160,"y":700,"wires":[["83db1e18.ba4ba"]]},{"id":"a2a25f64.b2bc6","type":"exec","z":"1c4dc499.edc8fb","command":"/usr/bin/python3 oled_print.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"print temp","x":770,"y":700,"wires":[[],[],[]]},{"id":"941a532c.70b59","type":"function","z":"1c4dc499.edc8fb","name":"get temp","func":"if (msg.payload == 1){\n    var temp = flow.get(\"temp\");\n    //node.warn(temp);\n    if (!temp)\n        temp = \"wait\";\n    return { \"payload\": temp + \"°\"};\n} else {\n    return { \"payload\": \"\" };\n}","outputs":1,"noerr":0,"x":560,"y":700,"wires":[["a2a25f64.b2bc6"]]},{"id":"e606803d.57a3d","type":"exec","z":"1c4dc499.edc8fb","command":"/usr/bin/python3 oled_print.py \"\"","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"turn off display","x":580,"y":780,"wires":[[],[],[]]},{"id":"9cfa0e73.f1fe1","type":"switch","z":"1c4dc499.edc8fb","name":"local lan only","property":"req.connection.remoteAddress","propertyType":"msg","rules":[{"t":"regex","v":"^192\\.168\\.1\\.","vt":"str","case":false},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":380,"wires":[["766df8d4.b6e278"],["798085a2.0f5a8c"]],"outputLabels":["accept","drop"]},{"id":"798085a2.0f5a8c","type":"http response","z":"1c4dc499.edc8fb","name":"drop","statusCode":"403","headers":{},"x":550,"y":460,"wires":[]},{"id":"3e518ade.959be6","type":"http in","z":"1c4dc499.edc8fb","name":"[post] say pool temp","url":"/say-pool-temp","method":"post","upload":false,"swaggerDoc":"","x":90,"y":80,"wires":[["9ecf0b0d.c340c8"]]},{"id":"92277068.2f5ba","type":"switch","z":"1c4dc499.edc8fb","name":"auth from ifttt","property":"payload.key","propertyType":"msg","rules":[{"t":"eq","v":"IFTT_SECRET","vt":"env"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":520,"y":80,"wires":[["105388e7.0bd837"],["c3b96f05.eafad"]]},{"id":"c14f026d.9eafa","type":"cast-to-client","z":"1c4dc499.edc8fb","name":"","url":"","contentType":"","message":"","language":"en","ip":"192.168.1.122","port":"","volume":"","x":950,"y":80,"wires":[["11c7d7a.d480d28"]]},{"id":"c3b96f05.eafad","type":"http response","z":"1c4dc499.edc8fb","name":"drop unauth","statusCode":"403","headers":{},"x":590,"y":180,"wires":[]},{"id":"105388e7.0bd837","type":"function","z":"1c4dc499.edc8fb","name":"get pool temp","func":"var text = \"The pool temperature is \";\nvar temp = flow.get(\"temp\");\nif (temp)\n    msg.message = text + temp + \" degrees\";\nelse\n    msg.message = text + \"unavailable at the moment\";\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":80,"wires":[["c14f026d.9eafa"]]},{"id":"83db1e18.ba4ba","type":"switch","z":"1c4dc499.edc8fb","name":"handle motion","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":360,"y":700,"wires":[["941a532c.70b59"],["e606803d.57a3d"]]},{"id":"9c5462f9.c0654","type":"inject","z":"1c4dc499.edc8fb","name":"Test talk","topic":"","payload":"hi","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":800,"y":220,"wires":[["b8c06959.1b7138"]]},{"id":"b8c06959.1b7138","type":"change","z":"1c4dc499.edc8fb","name":"","rules":[{"t":"set","p":"message","pt":"msg","to":"msg.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":220,"wires":[["c14f026d.9eafa"]]},{"id":"11c7d7a.d480d28","type":"http response","z":"1c4dc499.edc8fb","name":"","statusCode":"200","headers":{"content-type":"application/json"},"x":1140,"y":80,"wires":[]},{"id":"9ecf0b0d.c340c8","type":"json","z":"1c4dc499.edc8fb","name":"process payload","property":"payload","action":"obj","pretty":false,"x":300,"y":80,"wires":[["92277068.2f5ba"]]},{"id":"f3907123.14ed","type":"git-nodes","z":"1c4dc499.edc8fb","label":"push to github","branch":"master","sourcebranch":"master","gitadd":"settings.js,package.json,.config.json,lib","gitrmcache":"nodes/*/x,nodes/*/y,nodes/*/z","debugging":true,"git":"6c9aa7ae.de92b8","x":260,"y":840,"wires":[]}]