flows_raspberrypi.json
[{"id":"1c4dc499.edc8fb","type":"tab","label":"pool_rx","disabled":false,"info":""},{"id":"6c9aa7ae.de92b8","type":"git-nodes-config","z":"","name":"node-red-pool","git":"git@github.com:billguy/node-red-pool.git"},{"id":"aed3d1d5.f7e2e","type":"Generic BLE","z":"","localName":"","address":"","uuid":"","muteNotifyEvents":false,"operationTimeout":"","characteristics":[]},{"id":"6dbf8c5d.e802b4","type":"Generic BLE","z":"","localName":"","address":"","uuid":"","muteNotifyEvents":false,"operationTimeout":"","characteristics":[]},{"id":"2e6a0595.6f3c5a","type":"Generic BLE","z":"","localName":"","address":"","uuid":"","muteNotifyEvents":false,"operationTimeout":"","characteristics":[]},{"id":"50454d52.d8fe04","type":"Generic BLE","z":"","localName":"","address":"","uuid":"","muteNotifyEvents":false,"operationTimeout":"","characteristics":[]},{"id":"7ad0f8e0.752cf8","type":"Generic BLE","z":"","localName":"","address":"","uuid":"","muteNotifyEvents":false,"operationTimeout":"","characteristics":[]},{"id":"95baa3cf.e5a5b","type":"Generic BLE","z":"","localName":"ESP32","address":"b4:e6:2d:a9:05:ff","uuid":"b4e62da905ff","muteNotifyEvents":false,"operationTimeout":"","characteristics":[{"uuid":"2a05","name":"Service Changed","type":"org.bluetooth.characteristic.gatt.service_changed","notifiable":false,"readable":false,"writable":false,"writeWithoutResponse":false},{"uuid":"2a00","name":"Device Name","type":"org.bluetooth.characteristic.gap.device_name","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a01","name":"Appearance","type":"org.bluetooth.characteristic.gap.appearance","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2aa6","name":"Central Address Resolution","type":"org.bluetooth.characteristic.central_address_resolution","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"beb5483e36e14688b7f5ea07361b26a8","name":"<Unnamed>","type":"(Custom Type)","notifiable":true,"readable":true,"writable":true,"writeWithoutResponse":false}]},{"id":"b42eb39f.558d9","type":"debug","z":"1c4dc499.edc8fb","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":630,"y":320,"wires":[]},{"id":"f8311a8e.d1f588","type":"rpi-gpio in","z":"1c4dc499.edc8fb","name":"motion detected","pin":"37","intype":"tri","debounce":"25","read":true,"x":120,"y":440,"wires":[["83db1e18.ba4ba"]]},{"id":"a2a25f64.b2bc6","type":"exec","z":"1c4dc499.edc8fb","command":"/usr/bin/python3 oled_print.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"print temp","x":730,"y":440,"wires":[[],[],[]]},{"id":"941a532c.70b59","type":"function","z":"1c4dc499.edc8fb","name":"get temp","func":"if (msg.payload == 1){\n    var temp = flow.get(\"temp\");\n    //node.warn(temp);\n    if (!temp)\n        temp = \"wait\";\n    return { \"payload\": temp + \"°\"};\n} else {\n    return { \"payload\": \"\" };\n}","outputs":1,"noerr":0,"x":520,"y":440,"wires":[["a2a25f64.b2bc6"]]},{"id":"e606803d.57a3d","type":"exec","z":"1c4dc499.edc8fb","command":"/usr/bin/python3 oled_print.py \"\"","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"turn off display","x":540,"y":520,"wires":[[],[],[]]},{"id":"3e518ade.959be6","type":"http in","z":"1c4dc499.edc8fb","name":"[post] say pool temp","url":"/say-pool-temp","method":"post","upload":false,"swaggerDoc":"","x":90,"y":80,"wires":[["9ecf0b0d.c340c8"]]},{"id":"92277068.2f5ba","type":"switch","z":"1c4dc499.edc8fb","name":"auth from ifttt","property":"payload.key","propertyType":"msg","rules":[{"t":"eq","v":"IFTT_SECRET","vt":"env"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":520,"y":80,"wires":[["105388e7.0bd837"],["c3b96f05.eafad"]]},{"id":"c14f026d.9eafa","type":"cast-to-client","z":"1c4dc499.edc8fb","name":"","url":"","contentType":"","message":"","language":"en","ip":"192.168.1.122","port":"","volume":"","x":950,"y":80,"wires":[["11c7d7a.d480d28"]]},{"id":"c3b96f05.eafad","type":"http response","z":"1c4dc499.edc8fb","name":"drop unauth","statusCode":"403","headers":{},"x":590,"y":180,"wires":[]},{"id":"105388e7.0bd837","type":"function","z":"1c4dc499.edc8fb","name":"get pool temp","func":"var text = \"The pool temperature is \";\nvar temp = flow.get(\"temp\");\nif (temp)\n    msg.message = text + temp + \" degrees\";\nelse\n    msg.message = text + \"unavailable at the moment\";\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":80,"wires":[["c14f026d.9eafa"]]},{"id":"83db1e18.ba4ba","type":"switch","z":"1c4dc499.edc8fb","name":"handle motion","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":320,"y":440,"wires":[["941a532c.70b59"],["e606803d.57a3d"]]},{"id":"9c5462f9.c0654","type":"inject","z":"1c4dc499.edc8fb","name":"Test talk","topic":"","payload":"hi","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":800,"y":220,"wires":[["b8c06959.1b7138"]]},{"id":"b8c06959.1b7138","type":"change","z":"1c4dc499.edc8fb","name":"","rules":[{"t":"set","p":"message","pt":"msg","to":"msg.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":220,"wires":[["c14f026d.9eafa"]]},{"id":"11c7d7a.d480d28","type":"http response","z":"1c4dc499.edc8fb","name":"","statusCode":"200","headers":{"content-type":"application/json"},"x":1140,"y":80,"wires":[]},{"id":"9ecf0b0d.c340c8","type":"json","z":"1c4dc499.edc8fb","name":"process payload","property":"payload","action":"obj","pretty":false,"x":300,"y":80,"wires":[["92277068.2f5ba"]]},{"id":"f3907123.14ed","type":"git-nodes","z":"1c4dc499.edc8fb","label":"push to github","branch":"master","sourcebranch":"master","gitadd":"settings.js,package.json,.config.json,lib","gitrmcache":"nodes/*/x,nodes/*/y,nodes/*/z","debugging":true,"git":"6c9aa7ae.de92b8","x":220,"y":580,"wires":[]},{"id":"23033ef4.11b132","type":"Generic BLE in","z":"1c4dc499.edc8fb","name":"esp32_pool","genericBle":"95baa3cf.e5a5b","useString":false,"notification":true,"x":310,"y":320,"wires":[["8aa25825.75b778"]]},{"id":"56afd5af.fb7e4c","type":"inject","z":"1c4dc499.edc8fb","name":"Pole temp","topic":"beb5483e36e14688b7f5ea07361b26a8","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":320,"wires":[["23033ef4.11b132"]]},{"id":"8aa25825.75b778","type":"change","z":"1c4dc499.edc8fb","name":"convert","rules":[{"t":"set","p":"temp","pt":"flow","to":"$round($number(msg.payload.characteristics.beb5483e36e14688b7f5ea07361b26a8.toString()),1)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":320,"wires":[["b42eb39f.558d9"]]}]